.landing-container {
    max-width: 100%;
    margin: 0 auto;
    height: 3800px;
    background-color: #030C5C;
    color: white;
    z-index: -2;
    justify-content: center;

  }
  .shadow{
    text-align: center;  
    justify-content: center;
    margin-left: 16%;
    height: 550px;
    width: 550px;
    margin-top: -350PX;
    position: sticky;
    background: radial-gradient(circle at center, #60b0df92 30%,#030C5C, #030C5C 100%);
    border-radius: 200px;
    opacity: 70%;
    z-index: -1;
}

  
  header {
    position: relative;
    margin-bottom: 20px;
    margin-left: 15%;
    z-index: 1;
    padding: 10px;
    justify-content: center
  }
  
  header h1 {
    width: 350px;
    margin-top: 200px;
    font-size: 55px;
    font-family: Lato;
    font-weight: bolder;
  }
  
  section {
    margin-bottom: 20px;
    justify-content:center

  }
  
  section p {
    font-size: 1.2rem;
    margin-top: -30px;
    justify-self: left;  
    font-weight: bold;
    font-size: 25px;
    font-family: Lato;
  }
  
.smalltxt{
    margin-top: -20px;
    position: absolute;
    font-size: 25px;
    font-family: Lato;
    font-weight: normal;
    justify-self: left;  
    width: 270px;
    display:inline-block;
  }

  .cta-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 16%;
    margin-top: -130px;
    position: absolute;
    z-index: 1;
  }

  .need-da-space{
    height: 2px;
    padding: 0px;
    margin-bottom: -80px;

  }
  .Part2{
    align-items: self;
    display: inline; 
  }

  .h2{
    font-size: 30px;
    margin-top: 180px;
    font-family: Lato;
    margin-left: 15%;
  }

  .p{
    margin-left: 15%;
    margin-top: 10px;
    font-size: 25px;
  }

  .p2{
    margin-left: 15%;
    margin-top: 10px;
    font-weight: normal;
    max-width: 330px;
    font-size: 20px;
  }

  .box1{
    margin-left: 50%;
    background-color: #0056b3;
    height: 300px;
    width: 400px; 
    margin-top: -290px;

  }

  .Part2p2{
    margin-left: 41.5%;
    margin-top: -100px;
  }

  .box2{
    margin-left: -45%;
    background-color: #0056b3;
    height: 300px;
    width: 400px; 
    margin-top: -250px;
  }

  .Part2p3{
    margin-top: -130px;
  }

  .box3{
    margin-left: 50%;
    background-color: #0056b3;
    height: 300px;
    width: 400px; 
    margin-top: -300px;
  }

  .Part3{
    align-items: center;
    margin-bottom: 100px;;
  }
  .h3{
    font-size: 50px;
    font-family: Lato;
    text-align: center;
    margin-top: 100px;
    font-weight: bolder;
  }
  .p3{
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }


  .whbox{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    margin: -25px;
  }

  .whbox1{
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 530px;
    position: relative;
    margin-left: 200px;
    border-radius: 20px;
  }
  .whbox2{
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 530px;
    position: relative;
    border-radius: 20px;

  }
  .whbox3{
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 530px;
    position: relative;
    margin-right: 200px;
    border-radius: 20px;

  }

  .h4{
    font-family: Lato;
    font-size: 30px;
    color: black;
    font-weight: Extrabold;
  }

  .p4{
    font-size: 18px;
    margin-top: -10px;
  }

  .money{
    margin-top: 10px;
    font-size: 70px;
    font-weight: 700;
    font-family: Lato;
    display: inline;
    align-items: center;
    text-align: center;
    margin-right: 20px;
  }

  .pmonth{
    display: inline;
    font-size: 15px;
    position: absolute;
    margin-top: 25px;
    margin-left: 10px;
    color: #686868;
  }

  .chlist{
    margin-top: 20px;
    font-size: 13px;
    text-align: left;
    margin-left: 7%;
  }

  .getStarted1{
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    border-radius: 10px;
    color: #fff;
    border: none;
    margin-top: 30%;
  }

  .getStarted2{
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    border-radius: 10px;
    color: #fff;
    border: none;
    margin-top: 20%;
  }

  .getStarted3{
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    border-radius: 10px;
    color: #fff;
    border: none;
    margin-top: 9%;
  }


  .register-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .login-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  


  .cta-button:hover {
    background-color: #0056b3;
  }
  .register-button:hover {
    background-color: #0056b3;
  }

  .login-button:hover {
    background-color: #0056b3;
  }

  .imgLaptop{
    margin-left: 25%;
    padding: 5px;
    position: absolute;
    display: inline; 
    margin-top: -600px;
  }