.landing-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 3800px;
    background-color: #030C5C;
    color: white;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .register-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .login-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }

  .login-button:hover {
    background-color: #0056b3;
  }