.login-main{
  background-color: #9197d3;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#9197d3, 30%, #030C5C);
  position: absolute;
  font-family: Lato;
  }

.userL{
  align-items: center;
  text-align: center;
  margin-top: 100px;
  position: positio;
}
.fa-user-circle{
  font-size: 80px;
  position: relative;
  width: 80%;
}

.login-container {
    width: 450px;
    height: 400px;
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-groupL {
    margin-bottom: 15px;
  }
  
  .form-groupL label {
    display: block;
  }
  
  .form-groupL input {
    width: 95%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  