.main-wrapper {
  display: flex;
  flex-direction: row; /* Sidebar on the left, entry on the right */
  height: 100vh; /* Full viewport height */
  background-color: #1e1e52; /* Adjust the color to match your design */
}

/* Assuming your Sidebar component has a class name 'sidebar' */
.sidebar {
  flex: 0 0 280px; /* Adjust width as needed, do not grow, do not shrink */
  background-color: #2c2c6e; /* Sidebar background color */
  color: white;
  /* Add other styles from Sidebar.css */
}

/* Entry component styles, adjust as per your Entry component's class names */
.entry-component {
  flex-grow: 1; /* Entry takes up the remaining space */
  background-color: #1e1e52; /* Entry background color, adjust as needed */
  color: white;
  /* Add other styles for the entry component */
}

/* Styles for the user display at the bottom of the sidebar, if needed */

.user-display {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2c3e50; 
  color: #ecf0f1; 
  border-radius: 5px; 
  position: absolute;
  bottom: 0;
  width: 19%;
}

.user-avatar {
  width: 50px; 
  height: 50px;
  border-radius: 50%; 
  overflow: hidden;
  margin-right: 10px; 
}

.user-avatar img {
  width: 100%;
  height: auto; 
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  margin: 0;
  font-size: 1.2em; 
}
