.register-main{
  background-color: #9197d3;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#bcc2ff, 30%, #0017e6);
  position: absolute;
  font-family: Lato;
}

.register-container {
    max-width: 500px;
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-groupR {
    margin-bottom: 15px;
  }
  
  .form-groupR label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-groupR input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  