.register-main{
  background-color: #9197d3;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#bcc2ff, 30%, #0017e6);
  opacity: 95%;
  position: absolute;
  font-family: Lato;
}

.register-container {
    max-width: 450px;
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    opacity: 80%;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .userR{
    align-items: center;
    text-align: center;
    position: position;
    display: flex;
  }

  .fa-envelope{
    font-size: 30px;
    position: relative;
    background-color: rgba(48, 101, 45, 0.781);
    padding: 10px;
    color: white;
    height: auto;
    width: 30px;
  }

  .fa-unlock-alt{
    font-size: 30px;
    position: relative;
    background-color: rgba(48, 101, 45, 0.781);
    padding: 10px;
    color: white;
    height: auto;
    width: 30px;
  }
  .form-groupR {
    margin-bottom: 15px;
  }
  
  .form-groupR label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-groupR input {
    margin-top: 15px;
    width: 234%;
    height: 40px;
    border:none;
    color: black;
    font-size: 15px;
    padding: 5px;
    background-color: #91d3afb8;
  }
  
  button[type="submit"] {
    display: block;
    width: 60%;
    padding: 10px;
    background-color: #1e2bdd;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }